<h1>Lista de carros</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Nome</th>
      <th>Modelo</th>
      <th>Ano</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <th><%= car.id %></th> 
        <th><%= car.name %></th>
        <th><%= car.model %></th>
        <th><%= car.year %></th>
        <th style="width:300px">
          <a href="<%= cars_show_path(car.id) %>" class="btn btn-primary">Mostrar</a>
          <a href="<%= cars_edit_path(car.id) %>" class="btn btn-warning">Editar</a>
          <a href="<%= cars_delete_path(car.id) %>" class="btn btn-danger">Apagar</a>
        </th> 
<%
=begin%>
 <th><a href="/cars/<%= car.id %>"><%= car.id %></a></th> 
<%
=end%>
      </tr>
    <% end %>
  </tbody>
</table>
